<%@comment = article.comments.build%>
<%= form_for(@comment) do |f| %>
    <div class="form" id="comment-form">
      <%= f.hidden_field :article_id, :value => @comment.article_id %>
      <p class="textarea-block">
        <%=f.text_area :content, :rows => "10", :cols => "70",%>
      </p>
      <div class="clear"></div>

      <%=f.submit "Criar Comentário"%>

    </div><!-- end #comment-form -->
<% end %>
