<%= form_for(@rating) do |f| %>
    <div id="submit_rating">
    </div>
    <%= f.hidden_field :article_id,:value =>@rating.article_id %>
    <%= f.hidden_field :score%>
<% end %>

<%
   initial_score = 0
   current_user.ratings.each do |rating|
       if rating.article_id == @rating.article_id
           initial_score = rating.score
           break
       end
   end
   initial_score
%>


<script type="text/javascript">
    $('#submit_rating').raty({
        start:      "<%=initial_score%>",
        half:       true,
        precision:  true,
        size:       24,
        starHalf:   'star-half-big.png',
        starOff:    'star-off-big.png',
        starOn:     'star-on-big.png',
        target:     '#rating_score',
        targetType: 'number',
        click: function(pontuacao, evt) {
            $.post("/ratings", {
                score: pontuacao, article_id: $("#rating_article_id").val()
            });
        }
    });
</script>
